body{
    margin:0px;
}

#cv{
    width: 860px;
    height: 645px;
    background-image: url('../images/blackboard.jpg');
    float: left;
}

.menu{
    float: left;
}
button{
    width:100px;
    height: 50px;
}

#cv_pen{
    width:100px;
    height: 50px;
    float: left;
    background-image:url('images/blackboard.jpg');
}
fieldset{
    width:100px;
    height: 60px;
    float: left;
}

#pen_shape{
    position: absolute;
    top:10px;
    left:700px;
    color:white;
}
