<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">

	<select id="getList" resultType="boardVO">
		<![CDATA[
			select * from board where bno > 0
		]]>
	</select>
	<!-- 
	<select id="getListWithPaging" resultType="boardVO">
		<![CDATA[
			select bno, title, content, writer, regdate, updatedate from
	    		(select rownum r, bno, title, content, writer, regdate, updatedate from 
	        		(select /*+ INDEX_DESC(board pk_board)*/ 
	        		 bno, title, content, writer, regdate, updatedate 
	        		 from board) 
    			where rownum <= (#{pageNum} * #{listQty} )) 
			where r > (#{pageNum} - 1) * #{listQty}
		]]>
	</select>  -->
	
	<sql id="criteria">
		<trim prefix="where" prefixOverrides="or">
 			<foreach item="type" collection="typeArr">
 				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>	
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>							
					</choose>					
				</trim>
			</foreach>
		</trim>
	</sql>
	
	
	<select id="getListWithPaging" resultType="boardVO">
		<![CDATA[
			select bno, title, content, writer, regdate, updatedate from
	    		(select rownum r, bno, title, content, writer, regdate, updatedate from 
	        		(select /*+ INDEX_DESC(board pk_board)*/ 
	        		 bno, title, content, writer, regdate, updatedate 
	        		 from board
	    ]]>
    	
    	<include refid="criteria"></include>
    	
	    <![CDATA[ 
	        		 ) 
    			where rownum <= (#{pageNum} * #{listQty} )) 
			where r > (#{pageNum} - 1) * #{listQty}
		]]>
	</select>
	
	
	<!-- 전체 글의 개수 가져오기 : 전체 일때랑 검색했을때 두방법 모두 사용  -->
	<select id="getTotalCount" resultType="int">
		select count(*) from board 
		<include refid="criteria"></include>
	</select>
	

	<!--  insert하고 bno 따로 사용할일 없으면 아래 insert 사용  -->
	<insert id="insert">
		insert into board (bno, title, content, writer) 
		values(board_seq.nextval, #{title}, #{content}, #{writer})
	</insert>
	<!-- insert 쿼리 실행하고 bno 값이 바로 필요하면 아래꺼 사용 -->
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select board_seq.nextval from dual
		</selectKey>
		insert into board (bno, title, content, writer) 
		values(#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<!-- 글 한개 가져오기  -->
	<select id="read" resultType="boardVO">
		select * from board where bno=#{bno}	
	</select>
	
	<!-- 글 삭제 -->
	<delete id="delete">
		delete from board where bno = #{bno}
	</delete>

	<!-- 글 수정 -->
	<update id="update">
		update board set 
		title=#{title}, content=#{content}, 
		writer=#{writer}, updateDate=sysdate 
		where bno=#{bno}
	</update>

	<!-- 조회  -->
	












</mapper>