* {
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body{
    margin:0 auto;
    background-color: lightcyan;
}
a {
    all:unset; /*a 태그 기본속성 없애기*/
}
a:link{
    text-decoration: none;
    color: royalblue;
}
header{
    width: 100%;
    height: 60px;
    background-color: lightblue;
    top:0;
    left: 0;
    z-index: 100; /*다른 요소에 가려지지 않기 위해*/
}
.hdr-title{
    width: 100%;
    height: 100%;
    color: royalblue;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 20px;
}
td{
    padding: 5px 10px;
}
.signup-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.asterisk{
    padding: 1rem 0;
}

.input-addr{
    width: 40px;
}
.input-phone{
    width: 50px;
}
.btn{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    justify-content: center;
}
button{
    border: 2px solid royalblue;
    color: royalblue;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    transition: all ease 0.5s 0s;
}
button:hover{
    color: aliceblue;
    background-color: royalblue;
}
.signup-btn{
    padding-right: 10px;
}
.back{
    border: 2px solid lightgrey;
    color: grey;
    font-weight: normal;
    font-size: 0.5rem;
    background-color: aliceblue;
    transition: none;
}
